In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
data1=pd.read_csv(r'interpolation_of_ships_trial_3.csv')
data2=pd.read_csv(r'sumo results ROI.csv')

In [3]:
h=[]
for i in range(len(data2)):
    if type(data2['vds_target__boat__false_alarm_cause'][i])==str:
        h.append(i)

In [4]:
data2=data2.drop(h,axis=0).reset_index()

In [5]:
x=data1
y=data2

In [6]:
r=pd.read_pickle('23_vessels_data')

In [7]:
for i in range(len(x)):
    if (x['LENGTH'][i]==0)&(x['MMSI'][i] in r['MMSI'].unique()):
        ix=r.index[r['MMSI']==x['MMSI'][i]]
        x['LENGTH'][i]=r['Length'][ix]
        x['BREADTH'][i]=r['Breadth'][ix]
        x['NAME'][i]=r['NAME'][ix]

C:\ProgramData\anaconda3\envs\CNN\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\ProgramData\anaconda3\envs\CNN\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\ProgramData\anaconda3\envs\CNN\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
def haversine(lat1, lon1, lat2, lon2): 
      
    # distance between latitudes 
    # and longitudes 
    dLat = (lat2 - lat1) * math.pi / 180.0
    dLon = (lon2 - lon1) * math.pi / 180.0
  
    # convert to radians 
    lat1 = (lat1) * math.pi / 180.0
    lat2 = (lat2) * math.pi / 180.0
  
    # apply formulae 
    a = (pow(math.sin(dLat / 2), 2) + 
         pow(math.sin(dLon / 2), 2) * 
             math.cos(lat1) * math.cos(lat2)); 
    rad = 6371000
    c = 2 * math.asin(math.sqrt(a)) 
    return rad * c

In [18]:
def Diff(li1, li2): 
    return (list(set(li1) - set(li2))) 

nei1=[]
nei2=[]
e=[]
f=[]
nei=[]
d=[]

for k in range(10):
    n1=Diff(range(len(x)),nei1)
    n2=Diff(range(len(y)),nei2)
    dis=np.array([])
    idx=[]
    o=0
    for u in n1:
        lat1 = x['LATITUDE'][u]
        lon1 = x['LONGITUDE'][u]
        a=np.array([])  
        for j in n2:
            lat2 = y['vds_target__boat__lat'][j]
            lon2 = y['vds_target__boat__lon'][j]
            a=np.append(a,haversine(lat1, lon1,lat2, lon2)) 
            idx.insert(o,(u,j))
            o=o+1
        dis=np.append(dis,a)
        
    z=[x for _,x in sorted(zip(dis,idx))]
    q=sorted(dis)
    
    for i in range(len(z)):
        if (((abs(x['LENGTH'][z[i][0]]-y['vds_target__boat__length'][z[i][1]])<30)|
            (abs(x['LENGTH'][z[i][0]]-y['vds_target__boat__length'][z[i][1]])/x['LENGTH'][z[i][0]]<0.2))&(q[i]<1000)):
            if ((z[i][0] not in e)&(z[i][1] not in f)):
                e.append(z[i][0])
                f.append(z[i][1])
                nei1.append(z[i][0])
                nei2.append(z[i][1])
                nei.append((z[i][0],z[i][1]))
                d.append(q[i])
                if k>2:
                    print('Found')
                    print(z[i][0],z[i][1])

C:\ProgramData\anaconda3\envs\CNN\lib\site-packages\ipykernel_launcher.py:34: RuntimeWarning: divide by zero encountered in longlong_scalars

In [14]:
integrated=pd.DataFrame()

In [15]:
for i in range(len(nei)):
    a=nei[i][0]
    b=nei[i][1]
    m=pd.DataFrame([[x['MMSI'][a],y['vds_target__boat__lat'][b],y['vds_target__boat__lon'][b],x['LATITUDE'][a],x['LONGITUDE'][a],
                    d[i],y['vds_target__boat__xpixel'][b],y['vds_target__boat__ypixel'][b],y['vds_target__boat__length'][b],
                     x['LENGTH'][a],y['vds_target__boat__width'][b],x['BREADTH'][a],y['vds_target__boat__inc_ang'][b],x['NAME'][a],x['AISTYPE'][a],
                   y['vds_target__boat__nr_pixels'][b], float(y['vds_target__boat__max_value'][b].split(',')[2]),
                   float(y['vds_target__boat__significance'][b].split(',')[2])]],
                   columns=['MMSI','Detected_lat','Detected_lon','AIS_lat','AIS_lon','Distance_error','xpixel','ypixel',
                                               'LENGTH_detected','LENGTH','BREADTH_detected','BREADTH','incidence_angle','NAME','AISTYPE','Total Pixel','Max_value','Significance'])
    
    integrated=pd.concat([integrated,m],axis=0,ignore_index=True,sort=False)

In [20]:
integrated.to_csv('Integrated_2_23Oct2018.csv',index=False)

In [34]:
integrated

,MMSI,Detected_lat,Detected_lon,AIS_lat,AIS_lon,Distance_error,xpixel,ypixel,LENGTH_detected,LENGTH,BREADTH_detected,BREADTH,incidence_angle,NAME,AISTYPE,Total Pixel,Max_value,Significance
0,419097600,18.931621,72.866465,18.935000,72.870100,14.214094,8901,11876,87,72,55,20,35.963,TAG-8,90,53,896.0,28.286
1,419001050,18.943907,72.869259,18.925739,72.869175,15.636808,8898,11739,93,66,45,16,35.961,TAG 19,70,45,700.0,22.150
2,419611000,18.884949,72.873521,18.903909,72.872510,15.877154,8730,12361,36,54,17,11,35.871,SEAMELODY,52,7,124.0,2.791
3,419264000,18.935131,72.860501,18.941300,72.861800,17.268777,8970,11850,79,58,47,12,36.000,ALBATROSS 07,99,40,1078.0,33.480
4,419000860,18.949235,72.868023,18.933380,72.866875,18.731173,8922,11684,56,65,41,16,35.974,"4 TAG 13 Name: NAME, dtype: object",0,26,338.0,9.931
5,419001356,18.938612,72.858113,18.946700,72.845100,21.823371,9002,11817,91,120,44,17,36.017,KEDAR NATH,70,41,571.0,17.216
6,419172000,18.949390,72.879864,18.941200,72.842500,22.415250,8800,11659,107,79,57,15,35.909,MV GURU PRASAD,72,66,502.0,16.012
7,419901486,18.909989,72.935027,18.873700,72.825000,22.833786,8147,11972,22,19,10,8,35.555,NaN,30,2,140.0,3.337
8,616443000,18.951358,72.857422,18.946510,72.844213,25.267416,9036,11682,54,46,45,9,36.036,ASHENA,37,27,415.0,12.024
9,419001069,18.959043,72.852601,18.956778,72.861743,27.050762,9102,11610,22,25,17,8,36.071,"19 SIRI Name: NAME, dtype: object",0,4,216.0,6.101
10,419047300,18.944011,72.922332,18.956550,72.848380,27.066934,8350,11634,51,34,40,7,35.665,MV RAAVI,90,23,321.0,8.513
11,419000285,18.938167,72.860054,18.934600,72.844900,31.865905,8981,11818,43,30,34,9,36.006,TAG LAXMI,52,17,220.0,5.533
12,419000645,18.928260,72.868201,18.934200,72.862600,34.785647,8876,11908,86,68,53,16,35.950,TAG 10,90,49,570.0,17.437
13,419901205,18.908121,72.875524,18.943700,72.845800,35.980380,8758,12109,94,72,54,16,35.886,SEA MASTER-2,80,56,707.0,21.938
14,419000339,18.954803,72.854737,18.915206,72.911066,36.672078,9071,11651,22,13,10,4,36.054,T203,90,2,74.0,1.228
15,419058400,18.950477,72.920749,18.941800,72.857600,36.843744,8380,11568,44,38,30,9,35.682,MV KAMRUP,52,15,390.0,10.719
16,419088600,18.948954,72.916372,18.929421,72.861130,46.500560,8422,11592,50,63,41,15,35.704,PFS COURAGE,52,22,399.0,10.874
17,419566000,18.942584,72.860859,18.941590,72.840850,61.081959,8982,11769,80,72,47,16,36.007,"9 MPV PSV1 Name: NAME, dtype: object",0,40,322.0,8.925
18,419000147,18.955026,72.854008,18.962600,72.858700,65.808991,9079,11650,43,25,38,8,36.059,SURYA SHAKTI,52,18,292.0,8.492
19,419098100,18.933588,72.866962,18.938300,72.858000,67.739709,8900,11854,88,64,57,18,35.963,TAG 7,90,54,327.0,9.464
20,419001344,18.887224,72.847475,18.902000,72.864400,70.373683,9004,12388,170,190,42,32,36.018,SRI GANESH,70,73,325.0,10.068
21,419000490,18.959308,72.857011,18.894800,72.866700,90.496220,9057,11598,57,74,37,16,36.047,"7 RADHA KRISHNA IV Name: NAME, dtype: object",0,23,410.0,12.380
22,419055600,18.926191,72.846298,18.945721,72.856934,136.049605,9098,11973,33,47,28,11,36.069,ANTAREJA,33,10,314.0,10.090
23,355001000,18.953945,72.857466,18.940900,72.843700,142.141902,9041,11655,90,67,32,16,36.038,GOODMAN,99,31,152.0,3.566
24,419017300,18.940925,72.870877,18.897351,72.854487,154.869067,8875,11768,134,122,57,20,35.949,DCI DREDGE_16,90,76,439.0,13.262
25,419001106,18.953584,72.858457,18.936800,72.858100,173.721655,9030,11657,52,49,37,13,36.032,MARIA,96,20,229.0,5.967
26,419093300,18.934144,72.858075,18.945350,72.862980,187.978792,8993,11865,83,56,53,14,36.013,OFFSHORE SUPPORTER,90,46,507.0,15.324
27,419551000,18.953485,72.860953,18.912100,72.878400,193.790919,9004,11653,51,57,35,13,36.018,SEA CONQUEST,52,20,378.0,10.901
28,511195000,18.937776,72.864136,18.935000,72.880900,200.295457,8938,11814,80,78,50,12,35.983,VAKUL PREM,95,43,601.0,18.634
29,419000392,18.938559,72.880847,18.938000,72.859900,201.976022,8767,11773,35,33,25,9,35.891,"13 TRITON ENERGY Name: NAME, dtype: object",0,10,89.0,1.599
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,563609000,18.925898,72.869366,18.904760,72.876314,59.227601,8859,11931,79,54,49,14,35.940,LANPAN 33,32,42,315.0,8.951
69,419000372,18.960259,72.858173,18.951200,72.857200,130.273013,9047,11586,52,32,27,10,36.042,MV.CHANDRA SUN,52,14,186.0,4.798
70,636092031,18.895578,72.862912,18.896200,72.868800,275.467206,8862,12268,218,190,78,32,35.942,HAMMONIA KORSIKA,70,175,1057.0,33.489
71,565653000,18.898017,72.854990,18.941210,72.907603,345.182751,8949,12257,241,268,56,32,35.989,WAN HAI 509,70,142,644.0,20.324
72,419701000,18.888402,72.863001,18.886601,72.847216,441.132445,8846,12344,81,70,36,17,35.933,OCEAN DIAMOND,90,32,129.0,2.966
73,419074100,18.953802,72.903617,18.954861,72.853879,526.552330,8564,11566,18,0,12,0,35.781,MEENAKSHI,99,3,132.0,2.867
74,419000379,18.952644,72.864073,18.951900,72.865100,575.080309,8970,11656,52,29,47,9,36.000,AB3000,99,27,277.0,7.592
75,419093100,18.949192,72.862400,18.951900,72.858300,590.874585,8980,11696,37,32,37,9,36.006,MV CHANDRA NEPTUNE,32,14,272.0,7.097
76,419083800,18.885625,72.851311,18.942900,72.859400,623.066761,8961,12397,37,29,37,8,35.995,OCEAN NECTAR,52,14,67.0,0.855
77,419697000,18.929555,72.857723,18.946300,72.870700,628.987891,8987,11915,68,52,41,15,36.009,MV SAGA,90,29,178.0,4.625
78,419000721,18.951672,72.860099,18.933692,72.868839,647.283363,9009,11674,58,69,37,16,36.021,TAG12,0,20,332.0,9.241
79,564175000,18.911844,72.861574,18.929400,72.844300,654.684187,8910,12097,179,176,41,28,35.968,IVS KNOT,70,74,331.0,10.311
80,419001002,18.947727,72.863069,18.934869,72.860300,751.535677,8970,11710,69,67,47,16,36.000,"8 TAG 18 Name: NAME, dtype: object",0,36,797.0,23.920
81,419000225,18.937323,72.942647,18.909007,72.878442,850.808130,8126,11665,59,67,51,16,35.544,VARAPRADA,52,32,1780.0,11.331
82,419001227,18.900789,72.851587,18.896100,72.862800,862.495893,8990,12234,184,198,117,32,36.011,GANGA K,70,224,1329.0,44.416
83,419098600,18.940775,72.914605,18.907800,72.875300,996.630836,8423,11683,48,73,43,16,35.705,GEO HINDSAGAR,90,23,303.0,7.854
84,419000294,18.958210,72.860562,18.926805,72.864345,27.050762,9018,11603,58,66,32,16,36.026,SCI PAWAN,90,20,230.0,6.174
85,419000125,18.926871,72.862597,18.921300,72.880100,31.865905,8931,11934,86,65,57,16,35.979,S.C.I AHIMSA,99,53,567.0,17.824
86,419001117,18.893164,72.876063,18.928113,72.868050,403.186185,8721,12268,108,88,49,18,35.866,TAG 20,70,58,638.0,19.686
87,645314000,18.948441,72.856246,18.942400,72.860700,410.810645,9042,11716,79,63,44,15,36.039,M.V.BEAS DOLPHIN,90,39,343.0,9.572
88,419001175,18.936925,72.941404,18.916010,72.911380,522.783572,8138,11672,22,0,10,0,35.550,MODAK,0,2,186.0,0.930
89,341611000,18.885144,72.904617,18.924800,72.866800,589.416100,8409,12298,101,110,21,14,35.697,S CAS,52,12,161.0,4.186
90,419001084,18.944034,72.886127,18.960300,72.868300,24.558852,8724,11704,37,34,37,10,35.868,"22 SAGAR 5 Name: NAME, dtype: object",0,14,112.0,2.320
91,477759700,18.950089,72.942837,18.921621,72.871427,388.580555,8151,11528,316,275,63,40,35.557,MOL GRANDEUR,74,186,1930.0,17.346
92,205744000,18.901428,72.864198,18.880800,72.836400,410.810645,8861,12203,220,207,78,36,35.942,VASCO DA GAMA,90,172,1172.0,36.531
93,419078500,18.952077,72.865215,18.947600,72.863000,592.832079,8957,11659,60,57,39,12,35.993,OFFSHORE HUNTER,90,26,398.0,11.628
94,419901776,18.933263,72.936494,18.957800,72.850860,262.079456,8181,11721,37,20,27,8,35.574,OM MALLIKARJUN,30,10,150.0,1.501
95,419901762,18.944441,72.893179,18.909000,72.826300,621.972026,8652,11686,41,16,41,6,35.829,GAJANAN SAI,30,16,136.0,2.764
96,419255000,18.945485,72.863096,18.944400,72.860900,674.762778,8965,11734,63,57,42,13,35.998,"17 ALBATROSS 01 Name: NAME, dtype: object",0,29,505.0,14.684
97,354767000,18.890697,72.839764,18.944900,72.843800,621.972026,9091,12366,174,149,144,24,36.065,IBI,70,254,404.0,13.590

In [19]:
integrated

,MMSI,Detected_lat,Detected_lon,AIS_lat,AIS_lon,Distance_error,xpixel,ypixel,LENGTH_detected,LENGTH,BREADTH_detected,BREADTH,incidence_angle,NAME,AISTYPE,Total Pixel,Max_value,Significance
0,341611000,18.924825,72.866922,18.924800,72.866800,13.130130,8882,11947,85,110,66,14,35.953,S CAS,52,59,297.0,8.351
1,419104000,18.956207,72.859282,18.956300,72.859200,13.464897,9027,11627,96,82,43,14,36.031,NAFISA I,70,44,964.0,30.349
2,419001201,18.924717,72.864094,18.924693,72.863961,14.214094,8911,11954,99,80,63,18,35.968,WILCHIEF 1,39,63,987.0,31.710
3,419093100,18.951980,72.858420,18.951900,72.858300,15.440130,9027,11674,56,32,41,9,36.031,MV CHANDRA NEPTUNE,32,26,654.0,20.047
4,419000882,18.895360,72.843614,18.895500,72.843600,15.636808,9061,12308,191,183,87,32,36.049,OAKTREE,80,173,1425.0,49.788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,419000294,18.929555,72.857723,18.926805,72.864345,760.673251,8987,11915,68,66,41,16,36.009,SCI PAWAN,90,29,178.0,4.625
64,419001084,18.960521,72.860646,18.960300,72.868300,805.283897,9022,11578,63,34,54,10,36.028,"22 SAGAR 5 Name: NAME, dtype: object",0,37,655.0,20.716
65,419000490,18.888402,72.863001,18.894800,72.866700,810.904747,8846,12344,81,74,36,16,35.933,"7 RADHA KRISHNA IV Name: NAME, dtype: object",0,32,129.0,2.966
66,538007298,18.905034,72.876251,18.900400,72.870100,827.173189,8744,12141,170,199,89,32,35.878,INDIGO BREEZE,70,157,787.0,23.908
67,419900862,18.952339,72.855976,18.951600,72.846600,989.465525,9053,11675,56,60,33,13,36.045,M.V. SAAHA,80,21,282.0,7.861